<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="hsmService.js"></script>
  <script src="hsmDirectives.js"></script>
  <!-- -->
  <script src="samek_plus.js"></script>
  <style TYPE="text/css">
  hsm-state {
    margin-left: 1em;
    display: block;
  }
  
  .highlight {
    color: red;
  }
  </style>
</head>

<body ng-app="hsm">
  <div ng-controller="HsmLogger as logger">
    <hsm-machine name="samek-para" hsm-transition="trans($source,$target)" hsm-enter="enter($state)" hsm-exit="exit($state)" hsm-init="init($state)">
      <div ng-controller="SamekPlus as plus">
        <form action="">
          <input ng-repeat="evt in ['a','b','c','d','e','f','g','h','i','x','y']" type="button" ng-value="evt" ng-click="plus.clicked(evt)">
          <ul>
            <li>from default settings 'f' then 'h' sets value.</li>
            <li>'c' and 'f' toggle between s1 and s2 with different default states.</li>
            <li>'h' toggles between sx1 and sx2.</li>
            <li>'x' self transitions sx.</li>
            <li>'y' transitions from sx into an s1 or s2 substate.</li>
          </ul>
        </form>
        value: {{ plus.value }}
        <hsm-state name="s0">
          <hsm-event on="e" run="'s211'"></hsm-event>
          <hsm-event on="i" run="'s12'"></hsm-event>
          {{hsmState.name}}
          <span highlighter="hsmState.active">{{hsmState.active}}</span>
          <hsm-state name="s1">
            <hsm-event on="a" run="'s1'"></hsm-event>
            <hsm-event on="b" run="'s11'"></hsm-event>
            <hsm-event on="c" run="'s2'"></hsm-event>
            <hsm-event on="d" run="'s0'"></hsm-event>
            <hsm-event on="f" run="'s211'"></hsm-event>
            {{hsmState.name}}
            <span highlighter="hsmState.active">{{hsmState.active}}</span>
            <!-- default state is s11 -->
            <hsm-state name="s11">
              <hsm-event on="g" run="'s211'"></hsm-event>
              <hsm-event on="y" run="'sx2'"></hsm-event>
              <hsm-event on="h" run="plus.clearValue()"></hsm-event>
              {{hsmState.name}}
              <span highlighter="hsmState.active">{{hsmState.active}}</span>
            </hsm-state>
            <hsm-state name="s12">
              <hsm-event on="y" run="'sx'"></hsm-event>
              {{hsmState.name}}
              <span highlighter="hsmState.active">{{hsmState.active}}</span>
            </hsm-state>
          </hsm-state>
          <hsm-state name="s2" parallel="true">
            <hsm-event on="c" run="'s1'"></hsm-event>
            <hsm-event on="f" run="'s11'"></hsm-event>
            {{hsmState.name}} {{hsmState.active ? 'parallel' : 'false' }}
            <hsm-state name="s21">
              <hsm-event on="b" run="'s211'"></hsm-event>
              <hsm-event on="h" run="plus.setValue('s21')"></hsm-event>
              {{hsmState.name}}
              <span highlighter="hsmState.active">{{hsmState.active}}</span>
              <hsm-state name="s211">
                <hsm-event on="d" run="'s21'"></hsm-event>
                <hsm-event on="g" run="'s0'"></hsm-event>
                {{hsmState.name}}
                <span highlighter="hsmState.active">{{hsmState.active}}</span>
              </hsm-state>
            </hsm-state>
            <hsm-state name="sx">
              <hsm-event on="x" run="'sx'"></hsm-event>
              {{hsmState.name}}
              <span highlighter="hsmState.active">{{hsmState.active}}</span>
              <hsm-state name="sx1">
                <hsm-event on="y" run="'s11'"></hsm-event>
                <hsm-event on="h" run="'sx2'"></hsm-event>
                {{hsmState.name}}
                <span highlighter="hsmState.active">{{hsmState.active}}</span>
              </hsm-state>
              <hsm-state name="sx2">
                <hsm-event on="y" run="'s0'"></hsm-event>
                <hsm-event on="h" run="'sx1'"></hsm-event>
                {{hsmState.name}}
                <span highlighter="hsmState.active">{{hsmState.active}}</span>
              </hsm-state>
            </hsm-state>
          </hsm-state>
        </hsm-state>
      </div>
    </hsm-machine>
  </div>
</body>

</html>
