<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="demo" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="demo" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="demo" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"
  class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
  <script src="/script/angular/angular.js"></script>
  <script src="hsmService.js"></script>
  <script src="hsmDirectives.js"></script>
  <!-- -->
  <script src="samek_plus.js"></script>
  <style TYPE="text/css">
  hsm-state {
    margin-left: 1em;
    display: block;
  }
  
  .highlight {
    color: red;
  }
  </style>
</head>

<body ng-app="hsm">
  <div ng-controller="SamekPlus">
    <form action="">
      <input ng-repeat="evt in ['a','b','c','d','e','f','g','h','i','x','y']"
        type="button"
        ng-value="evt"
        ng-click="clicked(evt)">
      <ul>
        <li>from default settings 'f' then 'h' sets value.</li>
        <li>'c' and 'f' toggle between s1 and s2 with different default states.</li>
        <li>'h' toggles between sx1 and sx2.</li>
        <li>'x' self transitions sx.</li>
        <li>'y' transitions from sx into an s1 or s2 substate.</li>
      </ul>
    </form>
    value: {{ data.value }}
    <hsm-machine id="samek-plus"
      hsm-transition="trans($source,$target)"
      hsm-enter="enter($state)"
      hsm-exit="exit($state)"
      hsm-init="init($state)">
      <hsm-state id="s0"
        on-e="'s211'"
        on-i="'s12'">
        {{$ctrl.name}}
        <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
        <hsm-state id="s1"
          on-a="'s1'"
          on-b="'s11'"
          on-c="'s2'"
          on-d="'s0'"
          on-f="'s211'">
          {{$ctrl.name}}
          <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
          <!-- default state is s11 -->
          <hsm-state id="s11"
            on-g="'s211'"
            on-y="'sx2'"
            on-h="clearValue()">
            {{$ctrl.name}}
            <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
          </hsm-state>
          <hsm-state id="s12"
            on-y="'sx'">
            {{$ctrl.name}}
            <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
          </hsm-state>
        </hsm-state>
        <hsm-state id="s2"
          hsm-parallel="true"
          on-c="'s1'"
          on-f="'s11'">
          {{$ctrl.name}} {{$ctrl.active ? 'parallel' : 'false' }}
          <hsm-state id="s21"
            on-b="'s211'"
            on-h="setValue('s21')">
            {{$ctrl.name}}
            <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
            <hsm-state id="s211"
              on-d="'s21'"
              on-g="'s0'">
              {{$ctrl.name}}
              <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
            </hsm-state>
          </hsm-state>
          <hsm-state id="sx"
            on-x="'sx'">
            {{$ctrl.name}}
            <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
            <hsm-state id="sx1"
              on-y="'s11'"
              on-h="'sx2'">
              {{$ctrl.name}}
              <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
            </hsm-state>
            <hsm-state id="sx2"
              on-y="'s0'"
              on-h="'sx1'">
              {{$ctrl.name}}
              <span highlighter="$ctrl.active">{{$ctrl.active}}</span>
            </hsm-state>
          </hsm-state>
        </hsm-state>
      </hsm-state>
    </hsm-machine>
  </div>
</body>
</html>
